<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
	    <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
	        <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="test/404.php" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="test/500.php" responseMode="Redirect" />    
        </httpErrors>
    </system.webServer>
</configuration>
